<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>张超强的简历</title>
</head>
<body>
    <div class="content">
        <div class="head">
            <h1>web前端业务个人简历</h1>
        </div>

        <div class="essentialInformation">
            <div class="biaoti">
                <p>基本信息</p>
            </div>
            <div class="neirong">
                <span><strong>姓名：</strong>爱学习的wei丶</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span><strong>性别：</strong>男</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span><strong>电话：</strong>00000000000</span><br>
                <span><strong>邮箱：</strong>1594595763@qq.com</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span><strong>个人博客：</strong><a target="_blank" href="http://www.cnblogs.com/weiweiwei233/" class="lianjie">wei's blogs</a></span><br>
                <span><strong>应聘职位：</strong>web前端工程师</span>
            </div>

        </div>

        <div class="skill">
            <div class="biaoti">
                <p>专业技能</p>
            </div>
            <div class="neirong">
                <p>熟练掌握html+css的页面布局和JavaScript</p>

            </div>

        </div>
        <div class="educationalBackground">
            <div class="biaoti">
                <p>教育背景</p>

            </div>
            <div class="neirong">
                <p>学历：大学本科；</p>
                <p>毕业院校：安徽财经大学；</p>
                <p>专业：统计学；</p>
                <p>毕业年份：2017年。</p>
            </div>

        </div>
        <div class="projectExperience">
            <div class="biaoti">
                <p>项目经验</p>
            </div>
            <div class="neirong">
                <ul>轮播图</ul>
                <li>在项目中负责使用JavaScript编码实现轮播效果以及各个按钮的功能</li>
                <ul>淘宝星级评价</ul>
                <li>在项目中负责实现五颗五角星的打分功能</li>
            </div>


        </div>
        <div class="zwpj">
            <div class="biaoti">
                <p>自我评价</p>
            </div>
            <div class="neirong">
                <p>热爱前端的工作，对于自身实现的每一个交互式效果或者完美的页面布局会有极大的成就感，这促使着我不断的而又饥渴的汲取着前端的知识，希望自己能够做的更好，这也使我对前端工作有极大的激情。</p>
            </div>

        </div>
    </div>

</body>
</html>